.container{

}
.imgContainer{
    position: relative;
    width: 100%;
    height: 300px; 
   
}
.img{
    object-fit: cover;
    filter: grayscale(100%);
}
.imgText{
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    background-color: #2f7596;
    color: white;
    padding: 1rem 2rem;

}
.textContainer{
    display: flex;
    gap: 7rem;
}
.item{
    flex:1;
    margin-top: 2rem ;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.desc{
    font-size: 16px;
    font: 200;
    text-align: justify;
}