.container{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social{
    display: flex;
    gap: 1.5rem;
    transition: all 0.3s ease-in-out;
}
.social a:hover{
    transform: scale(1.04);
}