.container{
    display: flex;
    gap: 6rem;
}
.posts{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
.imgCoontainer{
    width: 200px;
    height: 100px;
    position: relative;
}
.img{
    object-fit: contain;
}
.delete{
    background-color: aliceblue;
    color: red;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.new{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
}
.input, .textArea{
    padding: 15px;
    border-radius: 4px;
    background-color: transparent;
    color: #bbb;
    font-size: 16px;
    border: 1px solid #bbb;
    outline: none;

}
.button{
    border: none;
    padding: 20px;
    background-color: rgb(35, 135, 175);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    font-size: 18px;
}
.button:hover{
    background-color: rgb(59, 195, 228);
}
