.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.form{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    font-size: 0.9rem;
    color: #a9a6a6;
}

.button{
    width: 400px;
    padding: 20px;
    cursor: pointer;
    background-color: #06567b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
    text-align: center;
}
.button2{
    
    width: 400px;
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
    text-align: center;
}

.link {
    text-decoration: underline;
    color: #7d7c7c;
  }
  
  .link:hover {
    color: rgb(61, 61, 61);
  }
  
  .google {
    background-color: rgba(228, 97, 50, 0.72);
  }
  
  .google:hover {
    background-color: rgba(228, 97, 50, 0.803);
  }
  .subtitle{
    font-size: 20px;
    margin-bottom: 30px;
    color: #bbb;
  }
  .title{
    color: #bbb;
    font-size: 14px;
  }